<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .my-login {
            box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
            ;
        }
    </style>
</head>

<body>
    <h3 class="text-center">Please Sign</h3>
    <form id="my-form" action="register" method="post">

        <div class="container col-sm-8 col-md-6  col-lg-3 mt-5 my-login">
            <div class="mb-3 col-11">
                <h3>Registeration</h3>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="mb-3 col-11">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="First name">
            </div>
            <div class="mb-3 col-11">
                <label for="lastname" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="last name">
            </div>
            <div class="mb-3 col-11">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="mb-3 col-11">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3 col-11">
                <select name="permission">
                    <option value="1">מנהל</option>
                    <option value="2">מורה</option>
                </select>
            </div>

            <button type="button" onclick="addUser()" class="btn btn-primary m-1" id="enter-btn">Register!</button>
        </div>

    </form>

    <script src="../JS/signup.js"></script>

</body>

</html>